In [1]:
def sum(angka1, angka2) :
    return angka1 + angka2

In [2]:
sum(1,2)

3

In [7]:
def PrintName() :
    name = input('input your name : ')
    print ('Your name ', name)

In [8]:
PrintName()

input your name : Surya
Your name  Surya

In [9]:
def funcKuadrat(a) :
    return a**2

In [13]:
funcKuadrat(2)

4

In [14]:
def callByArgument(name, age) :
    print ('Name ', name)
    print ('Age ', age)

In [17]:
callByArgument(age="20", name="surya")

Name  surya
Age  20

In [18]:
def callByArgument(name, age='25') :
    print ('Name ', name)
    print ('Age ', age)

In [19]:
callByArgument(name="surya")

Name  surya
Age  25

In [28]:
def sumNumber (num, *listOfNumber) :
    result = num
    for i in listOfNumber :
        print(i)
        result = result + i
        
    return result

In [29]:
sumNumber(1,2,3,4,5)

2
3
4
5

15

In [30]:
penjumlahan = lambda angka1, angka2 : angka1 + angka2;

In [31]:
penjumlahan(1,2)

3

In [32]:
def sumAmount(a, b) :
    total = a + b
    total2 = total + a
    print ('inside : ', total)
    
    return total2

In [36]:
print ('outside :', sumAmount(1,2))

inside :  3
outside : 4

In [37]:
import sys

In [38]:
sys.path

['/Users/suryabarokah/Documents/PYTHON',
 '/opt/anaconda3/lib/python38.zip',
 '/opt/anaconda3/lib/python3.8',
 '/opt/anaconda3/lib/python3.8/lib-dynload',
 '',
 '/opt/anaconda3/lib/python3.8/site-packages',
 '/opt/anaconda3/lib/python3.8/site-packages/aeosa',
 '/opt/anaconda3/lib/python3.8/site-packages/IPython/extensions',
 '/Users/suryabarokah/.ipython']

In [39]:
dir()

['In',
 'Out',
 'PrintName',
 '_',
 '_10',
 '_13',
 '_2',
 '_21',
 '_23',
 '_24',
 '_25',
 '_27',
 '_29',
 '_31',
 '_33',
 '_38',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'callByArgument',
 'exit',
 'funcKuadrat',
 'get_ipython',
 'penjumlahan',
 'quit',
 'sum',
 'sumAmount',
 'sumNumber',
 'sys']

In [40]:
!pip --version

pip 20.1.1 from /opt/anaconda3/lib/python3.8/site-packages/pip (python 3.8)

In [41]:
!pip install nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.8/site-packages (3.5)
Requirement already satisfied: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (2020.6.8)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (0.16.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from nltk) (4.47.0)

In [44]:
!pip show pandas

Name: pandas
Version: 1.0.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /opt/anaconda3/lib/python3.8/site-packages
Requires: numpy, pytz, python-dateutil
Required-by: statsmodels, seaborn

In [150]:
def patternNumber(a) :
    x = 1
    while x <= a :
        print(str(x)*x)
        x = x + 1

In [151]:
patternNumber(9)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [148]:
def findFibonaci(a, z) :
    curr = 0
    nextList = 1
    
    while curr < z :
        m = curr
        
        if m > a :
            print(m)
        
        curr = nextList
        nextList = nextList + m

In [149]:
findFibonaci(0,50)

1
1
2
3
5
8
13
21
34

In [158]:
def habisbagi5dan7(a, b) :
    for i in range(b) :
        if i > a :
            if i%5 == 0 and i%7 == 0 :
                print(i)

In [159]:
habisbagi5dan7(1500, 2700)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695